@mixin makeVariables ($breakpoints) {
  :root {
    --gutter: 40px;
    
    @each $size, $breakpoint, $gutter in $breakpoints {
      @media (max-width: $breakpoint) {
        --gutter: #{$gutter};
      }
    }
  }
}

@mixin makeColumns ($size: "", $columns) {
  @for $x from 1 through $columns {
    @for $y from 1 through $columns {
      .grid__#{$size}col-#{$x}\/#{$y} {
        width: $x / $y * 100%;
        display: inline-block;
        padding-left: calc(var(--gutter) / 2);
        padding-right: calc(var(--gutter) / 2);
        vertical-align: top;
      }
    }
  }
}